body{
    
    padding: 0px;
    margin: 0px;
    background-image: url(https://img.freepik.com/vetores-gratis/fundo-branco-abstrato_23-2148810113.jpg?w=2000);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.titulos{
    background-color: black;
    color: red;
   padding: 6px;
      
}











